.div{
    margin-bottom:1rem;
    width: 100%;
    border-bottom: 2px solid #d1d5db;
}
.header{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.img{
    width: 60%;
    height: 60%;
}
.h1{
    font-size: 24px;
    margin: 19px 0px ;
    font-weight: bold;
}
