
section{
  background-color: var(--color-bg);
  border-radius: 20px;
  position: relative;
  width: 400px;
  height: 450px;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}