@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    height: 100vh;
    margin: 0px;
    display: grid;
    text-align: left;
    place-items: left;
    color: black;
    background-color: #fff;
}

.Menu-sidebar {
    /*border: 2px solid #a9a9a9;
    border-radius: 4px;
    background-color: #a9a9a9;
    margin-left: 0px;
    margin-top: 30px;
    width: 100px;
    height: 800px;*/
}

.logo-div {
    /*float: left;
    padding: 10px;
    box-sizing: border-box;
    width: 80px;
    height: 60px;
    background-color: #a9a9a9;
    border-bottom: 2px solid #808080;*/
    cursor: pointer;
    transition: all 0.5s;
    box-shadow: inset 0 0 0 0 #808080;
}

    .logo-div:hover {
        box-shadow: inset 100vmax 0 0 0 #000000;
        color: white;
    }

        .logo-div:hover .fa-react .Icons {
            color: white;
        }

.Logotext {
    position: absolute;
    left: 2%;
    border: 4px solid black;
}

.fa-react {
    position: absolute;
    left: 1.5%;
    width: 40px;
    height: 40px;
    transform-origin: 50% 50%;
    text-align: center;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 #ffffff;
}

    .fa-react:hover {
        animation: Rotate 1s linear infinite;
    }

.title-div {
    position: absolute;
    font-size: 1.6rem;
    left: 40%;
    top: 0%;
    float: left;
    padding: 0px;
    margin-top: 30px;
    font-family: 'Black Han Sans', sans-serif;
    width: 300px;
    height: 100px;
    text-align: center;
    animation: title 1200ms cubic-bezier(1.000, 0.000, 0.000, 1.000) both;
}

.Login-div {
    text-align: right;
    justify-content: right;
    right: 0%;
    top: 0%;
    width: 300px;
    height: 500px;
    float: right;
    position: absolute;
}

.Login-bttn {
    margin: 5px;
    padding: 2px;
    width: 80px;
    height: 35px;
    border: 4px solid #000;
    color: #000;
    border-radius: 20px;
    transition: all 0.5s;
    background: #fff;
    font-family: 'Black Han Sans', sans-serif;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 #ffffff;
}

    .Login-bttn:hover {
        box-shadow: inset 0 0 0 100vmax #000000;
        color: #fff;
    }

.Login-popup {
    text-align: left;
    margin: 10px;
    padding: 10px;
    float: right;
    right: 0%;
    position: relative;
    width: 300px;
    height: 300px;
    border: 4px solid black;
    font-family: 'Black Han Sans', sans-serif;
    background-color: #fff;
    z-index: 1;
    display: block;
    visibility: hidden;
}

    .Login-popup.active {
        animation: File-popup 0.5s cubic-bezier(0.175, 0.885, 0.320, 1.275);
        visibility: visible;
    }

    .Login-popup.close {
        animation: File-hide 0.5s cubic-bezier(0.175, 0.885, 0.320, 1.275);
        transition: visibility 0.5s linear;
    }

.ID {
    margin: 10px;
}

.ID-input {
    border: 4px solid black;
}

.PW {
    margin: 10px;
}

.PW-input {
    border: 4px solid black;
}

.URL-div {
    top: 100px;
    left: 27%;
    margin: 10px;
    padding: 10px;
    width: 600px;
    height: 100px;
    position: relative;
    text-align: left;
    border: 4px solid black;
    font-family: 'Black Han Sans', sans-serif;
}


.URL-input {
    width: 400px;
    border: 4px solid black;
}

.URL-bttn {
    padding-top: 2px;
    margin: 9px;
    width: 45px;
    height: 30px;
    border: 4px solid black;
    background-color: #fff;
    border-radius: 10px;
    font-family: 'Black Han Sans', sans-serif;
    cursor: pointer;
    transition: all 0.5s;
    box-shadow: inset 0 0 0 0 #ffffff;
}

    .URL-bttn:hover {
        box-shadow: inset 0 0 0 100vmax #000000;
        color: #fff;
    }

.File-div {
    top: 100px;
    left: 20%;
    margin: 10px;
    padding: 10px;
    width: 800px;
    height: 500px;
    position: relative;
    text-align: center;
    border: 4px solid black;
    font-family: 'Black Han Sans', sans-serif;
    transition: all 1s;
    visibility: hidden;
}

    .File-div.active {
        animation: File-popup 0.5s cubic-bezier(0.175, 0.885, 0.320, 1.275);
        visibility: visible;
    }

    .File-div.close {
        animation: File-hide 0.5s cubic-bezier(0.175, 0.885, 0.320, 1.275);
        transition: visibility 0.5s linear;
    }

@keyframes title {
    0% {
        letter-spacing: -0.5em;
        opacity: 0;
    }

    40% {
        opacity: 0.6;
    }

    100% {
        opacity: 1;
    }
}

@keyframes Rotate {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes File-popup {
    0% {
        -webkit-transform: rotateX(-100deg);
        transform: rotateX(-100deg);
        -webkit-transform-origin: top;
        transform-origin: top;
        opacity: 0;
    }

    100% {
        -webkit-transform: rotateX(0deg);
        transform: rotateX(0deg);
        -webkit-transform-origin: top;
        transform-origin: top;
        opacity: 1;
    }
}

@keyframes File-hide {
    0% {
        -webkit-transform: rotateX(0deg);
        transform: rotateX(0deg);
        -webkit-transform-origin: top;
        transform-origin: top;
        opacity: 1;
    }

    100% {
        -webkit-transform: rotateX(-100deg);
        transform: rotateX(-100deg);
        -webkit-transform-origin: top;
        transform-origin: top;
        opacity: 0;
    }
}

.download-bttn {
    position: absolute;
    top: 20%;
    left: 35%;
    width: 250px;
    height: 250px;
    background-color: #fff;
    border-radius: 20px;
    border: 4px solid black;
    cursor: pointer;
}



.fa-filepdf {
    padding: 65px;
    position: relative;
    cursor: pointer;
    z-index: 3;
    margin: 6px;
    width: 230px;
    background-color: #fff;
}

    .fa-filepdf:active {
        visibility: hidden;
    }

.loader {
    margin: auto;
    border: 20px solid #EAF0F6;
    border-radius: 50%;
    border-top: 20px solid #000000;
    width: 100px;
    height: 100px;
    position: absolute;
    left: 44%;
    top: 35%;
    animation: Rotate 1s linear infinite;
    cursor: pointer;
    z-index: 0;
}
