 html,body{
  width: 100%;
  height: 100%;
 }
 body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} 


:root {
  --color-bg-dark: #f5f5f5;
  --color-bg: white;
  --color-grey: #d1d1d1;
  --color-text: #22243b;
  --color-accent: #f16e03;
  --color-white: white;
  --color-button: #4b7dfa;
  --color-bg-blue: #40e0fa;
}

*{
  box-sizing: border-box;
}

body{
  background-color: var(--color-bg-blue);

}

#root{
  width: 100%;
  height: 100%;
}


